.todolist {
    align-self: center;
    color:black;
    font-size: 1rem;
    background-color: rgb(0, 200, 255);
    width: 100vw;
    height: 100vh;
  }
  
  .todolist .crossText {
    text-decoration: line-through;
    color: red;
    
  }
  .todolist  input {
    background-color: rgb(119, 128, 0);
    border: none;
    color: black;
    min-width: 400px;
    margin-top: 40px;
    padding: 5px;
    font-size: 1rem;
    border-bottom: 5px dashed rgb(160, 91, 31);
  }
  .todolist input::placeholder {
    color:black;
    font-size: 1rem;
    
  }
  .todolist .btn {
    padding: 10px;
    border-radius: 30px;
    color: black;
    font-size: 1rem;
    background-color: rgb(0, 255, 225);
    border: none;
    margin-left: 3px;
    cursor: pointer;
    border: 3px solid black;
  }
  .todolist ul {
    margin-top: 30px;
    font-size: 1.5rem;
    color:black
  }
  .todolist ul li .complete {
    margin-top: 5px;
    float: center;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: green;
    margin-left: 10px;

  }
  .todolist ul li .delete {
    margin-top: 5px;
    float: center;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: red;
    margin-left: 10px;
    }
    .todolist ul li {
        list-style: none;
        margin-bottom: 4px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 8px;
        margin-left: -100px;
        border:2px solid green;
        margin-block-start: auto;
        background-color: blueviolet;
        color: black;
      }
      .todolist input:focus {
        outline: none;
        border: 2px dotted olive;
      }
      .title{
        font-size: 2rem;
      }

 